commands:
  01download_script:
    command: wget -O /tmp/install_agent.sh https://raw.githubusercontent.com/DataDog/dd-agent/master/packaging/datadog-agent/source/install_agent.sh
  02install_agent:
    command: 'bash /tmp/install_agent.sh'
    cwd: /tmp
    env:
      DD_API_KEY: a658691cd1bea146289af136597203e5 
